<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Jura&family=Kelly+Slab&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../assets/stylesheets/style.css" type="text/css" />
	<title>My Familiar</title>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
			<a class="navbar-brand" href="/members.html">My Familiar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/members">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/calendar">Calendar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/chat">Chat</a>
					</li>
				</ul>
				<span class="navbar-text" id="userName">
					Welcome{{ placeholder }}
				</span>
			</div>
		</nav>
	</div>
	<div class="container p-3">
		<div class="row p-1 m-1 align-middle rounded-pill border border-dark" id="diceDiv">
			<div class="col">
				<img class="img-dice" id="d20" src="../../assets/images/d20.png" title="D20" alt="d20 button">
				<img class="img-dice" id="d12" src="../../assets/images/d12.png" title="D12" alt="d12 button">
				<img class="img-dice" id="d10" src="../../assets/images/d10.png" title="D10" alt="d10 button">
				<img class="img-dice" id="d8" src="../../assets/images/d8.png" title="D8" alt="d8 button">
				<img class="img-dice" id="d6" src="../../assets/images/d6.png" title="D6" alt="d6 button">
				<img class="img-dice" id="d4" src="../../assets/images/d4.png" title="D4" alt="d4 button">
			</div>
			<div class="col-6 text-left p-2">
				<h4 id="rolled"> You rolled a: <span id="rolled-result"></span></h4>
			</div>
		</div>
	</div>
	{{{ body }}}

	<br>
	<!--FOOTER-->
	<footer class="footer #2c3531">
		<div class="container #2c3531">
			<span class="text-muted #d1e8e2">
				“The secret we should never let the gamemasters know is that they don't need
				any rules.”
				<p class="grey-text text-lighten-4">Gary Gygax</p>
				<ul>
					<li><a class="grey-text text-lighten-3" href="members.html">Home</a>
					</li>
					<li><a class="grey-text text-lighten-3" href="calendar.html">Calendar</a>
					</li>
					<li><a class="grey-text text-lighten-3" href="about.html">About Us</a>
					</li>
					<li><a class="grey-text text-lighten-3" href="chat.html">Chat</a></li>
				</ul>
			</span>
		</div>

		<div class="footer-copyright">
			<div class="container">
				My Familiar © 2020
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>