/* signup-about page */
#parallaxabout {
    background-image: url("/assets/images/battle.png");
    /* opacity: .5; */
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#paragraph-div {
    width: 90%;
    background-color: rgba(44,53,49,.85);
    border-style: solid;
    border-color: rgba(217,176,140,.50);
    border-width: 2px;
    border-radius: 5px;
    padding: 2%;
    margin: 5%;
}

#info-table {
    width: 90%;
    background-color: rgba(44,53,49,.85);
    border-style: solid;
    border-color: rgba(217,176,140,.50);
    border-width: 2px;
    border-radius: 5px;
    padding: 2%;
    margin: 5%;
}

thead {
    color: #d9b08c;  
}

tbody {
    color: #d1e8e2;  
}

#quote {
    color: #d1e8e2;
    font-family: 'Jura';
}

/* navbar */
#navbar {
    font-family: 'Kelly Slab';
    background-color: #d1e8e2;
    opacity: none;
}

body {
    background: radial-gradient(circle, rgba(44,53,49,1) 20%, rgba(17,100,102,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    perspective: 1px;
    margin: 0;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Jura';
}

/* signup div */
label, a {
    color: #d1e8e2;
}

h2 {
    color: #d9b08c;
    font-family: 'Kelly Slab';
}

h3 {
    color: #d1e8e2;
    font-family: 'Kelly Slab';
}

p {
    color: #d9b08c
}

#signup {
    color: #777777;
    background-color: #ffcb9a;
    font-family: 'Kelly Slab';
}
    
#form-container {
    margin-top: 13%;
}

#form-background {
    margin-bottom: 9%;
}

form.signup,
form.login {
    margin-top: 50px;
}
  
#footer {
    background-color: #2c3531;
    font-family: 'Kelly Slab';
    position: sticky;
    bottom: 0; 
    width: 100%;
    height: fit-content; 
}
    
/* Dice */
.img-dice {
    height: 50px;
    width: 50px;
}

