form.signup,
form.login {
  margin-top: 50px;
}

.character-card {
  border: 2px solid black;
}

.d20 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.userName {
  color: red;
}

.rolled {
  color: red;
}