<br>
<!--Parallax-->
<div class="parallaxmembers"></div>
<div class="container">
  <div class="row Header">
    <!-- Character Name -->
    <h4 class="text-center">Create Your New Character</h4>
  </div>
  <div class="Charactername col-6">
    <label for="charname">Character Name:</label>
    <input type="text" id="charname" name="charname" value="" />
  </div>

  <br>
  <!-- CHARACTER BASIC INFO -->
  <h4 class="text-left">Basic Character Information</h4>
  <div class="row charinfo">
    <!-- BASE 1-->
    <div class="base1 col-md-4">
      <div class="row">
        <label for="basestrength">Strength:</label>
        <input type="text" id="basestrength" name="basestrength" placeholder="10" value="" />
      </div>
      <div class="row">
        <label for="dexterity">Dexterity:</label>
        <input type="text" id="dexterity" name="dexterity" placeholder="10" value="" />
      </div>
      <div class="row">
        <label for="constitution">Constitution:</label>
        <input type="text" id="constitution" name="constitution" placeholder="10" value="" />
      </div>
      <div class="row">
        <label for="intelligence">Intelligence:</label>
        <input type="text" id="intelligence" name="intelligence" placeholder="10" value="" />
      </div>
      <div class="row">
        <label for="wisdom">Wisdom:</label>
        <input type="text" id="wisdom" name="wisdom" placeholder="10" value="" />
      </div>
    </div>
    <!-- BASE 2 -->
    <div class="skillscont col-md-4">
      <div class="row">
        <div class="col-md-6">
          <div class="score">
            <label for="current_hitpoints">Current Hit Points:</label>
            <input type="text" id="current_hitpoints" name="current_hitpoints" placeholder="10" value="" />
          </div>
          <div class="score">
            <label for="armor_class">Armor Class:</label>
            <input type="text" id="armor_class" name="armor_class" placeholder="10" value="" />
          </div>
          <div class="score">
            <label for="initiative">Initiative:</label>
            <input type="text" id="initiative" name="initiative" placeholder="10" value="" />
          </div>
          <div class="score">
            <label for="base_speed">Speed:</label>
            <input name="base_speed" value="" type="text" />
          </div>
          <div class="score">
            <label for="hit_die">Hit Die:</label>
            <input type="text" id="hit_die" name="hit_die" placeholder="10" value="" />
          </div>
          <div class="score">
            <label for="languages">Languages:</label>
            <input type="text" id="languages" name="languages" placeholder="10" value="" />
          </div>
          <br /><br />
        </div>
      </div>
    </div>
    <div class="characterinfo col-md-4">
      <li class="list-group-item"><label for="class">Class:</label>
        <input type="text" id="class" name="class" value="" /></li>
      <li class="list-group-item"><label for="level">Level:</label>
        <input type="text" id="level" name="level" value="" /></li>
      <li class="list-group-item"><label for="race">Race:</label>
        <input type="text" id="race" name="race" value="" /></li>
      <li class="list-group-item"><label for="alignment">Alignment:</label>
        <input type="text" id="alignment" name="alignment" value="" /></li>
      <li class="list-group-item"><label for="experiencepoints">Experience Points:</label>
        <input type="text" id="expereiencepoints" name="experiencepoints" value="" /></li>
    </div>
  </div>
  </br>

  <!-- SKILLS -->
  <h4 class="text-left">Skills</h4>

  <div class="row">
    <div class="skills col-md-2">
      <label for="acrobatics">Acrobatics <span class="skill">(Dex)</span></label>
      <input type="text" id="acrobatics" name="acrobatics" placeholder="+0" value="" />
      <label for="animalhandling">Animal Handling <span class="skill">(Wis)</span></label>
      <input type="text" id="animalhandling" name="animalhandling" placeholder="+0" value="" />
      <label for="arcana">Arcana <span class="skill">(Int)</span></label>
      <input type="text" id="arcana" name="arcana" placeholder="+0" value="" />
      <label for="athletics">Athletics <span class="skill">(Str)</span></label>
      <input type="text" id="athletics" name="athletics" placeholder="+0" value="" />
    </div>
    <div class="skills 4-8 col-md-2">
      <label for="deception">Deception <span class="skill">(Cha)</span></label>
      <input type="text" id="deception" name="deception" placeholder="+0" value="" />
      <label for="history">History <span class="skill">(Int)</span></label>
      <input type="text" id="history" name="history" placeholder="+0" value="" />
      <label for="insight">Insight <span class="skill">(Wis)</span></label>
      <input type="text" id="insight" name="insight" placeholder="+0" value="" />
      <label for="intimidation">Intimidation <span class="skill">(Cha)</span></label>
      <input type="text" id="intimidation" name="intimidation" placeholder="+0" value="" />
    </div>
    <div class="skills 9-13 col-md-2">
      <label for="investigation">Investigation <span class="skill">(Int)</span></label>
      <input type="text" id="investigation" name="investigation" placeholder="+0" value="" />
      <label for="medicine">Medicine <span class="skill">(Wis)</span></label>
      <input type="text" id="medicine" name="medicine" placeholder="+0" value="" />
      <label for="nature">Nature <span class="skill">(Int)</span></label>
      <input type="text" id="nature" name="nature" placeholder="+0" value="" />
      <label for="perception">Perception <span class="skill">(Wis)</span></label>
      <input type="text" id="perception" name="perception" placeholder="+0" value="" />
    </div>
    <div class="skills 14-17 col-md-2">
      <label for="performance">Performance <span class="skill">(Cha)</span></label>
      <input type="text" id="performance" name="performance" placeholder="+0" value="" />
      <label for="persuasion">Persuasion <span class="skill">(Cha)</span></label>
      <input type="text" id="persuasion" name="persuasion" placeholder="+0" value="" />
      <label for="religion">Religion <span class="skill">(Int)</span></label>
      <input type="text" id="religion" name="religion" placeholder="+0" value="" />
      <label for="sleight_of_hand">Sleight of Hand <span class="skill">(Dex)</span></label>
      <input type="text" id="sleight_of_hand" name="sleight_of_hand" placeholder="+0" value="" />
    </div>
    <div class="skills 18-19 col-md-2">
      <label for="stealth">Stealth <span class="skill">(Dex)</span></label>
      <input type="text" id="stealth" name="stealth" placeholder="+0" value="" />
      <label for="survival">Survival <span class="skill">(Wis)</span></label>
      <input type="text" id="survival" name="survival" placeholder="+0" value="" />
    </div>
  </div>
  <br /><br />
  <!-- CHARACTER DETAILS -->
  <div class="row CharacterDetails">
    <div class="PersonalityTraits col-md-2">
      <div class="personality_traits">
        <h4 label for="personality_traits">Personality Traits</h4></label>
        <!-- <input name="personality_traits" value="{{personality_traits}}"></input> -->
      </div>
    </div>

    <br>

    <div class="Ideals col-md-2">
      <div class="ideals">
        <label for="ideals">Ideals</label>
        <input name="ideals" id="ideals" value=""></input>
      </div>
    </div>
    <div class="Bonds col-md-2">
      <div class="bonds">
        <label for="bonds">Bonds</label>
        <input name="bonds" id="bonds" value=""></input>
      </div>
    </div>
    <div class="Flaws col-md-2">
      <div class="flaws">
        <label for="flaws">Flaws</label>
        <input name="flaws" id="flaws" value=""></input>
      </div>
    </div>
  </div>
  <br>
  <div class="row attacks">
    <div class="weapon col-md-2">
      <!--WEAPONS-->
      <h4 label for="weapon">Weapons</h4></label>
      <input type="text" id="weapon" name="weapon" placeholder="10" value="" />
    </div>

    <br>

    <div class="attackBonus col-md-2">
      <label for="attack_bonus">Attack Bonus</label>
      <input name="attack_bonus" id="attack_bonus" placeholder="+0" value="" />
    </div>
    <div class="damage col-md-2">
      <label for="damage">Damage</label>
      <input name="damage" id="damage" placeholder="+0" value="" />
    </div>
    <div class="damageType col-md-2">
      <label for="damage_type">Damage Type</label>
      <input name="damage_type" id="damage_type" placeholder="+0" value="" />
    </div>
  </div>
  <br>

  <!-- SPELLS -->

  <div class="row spells">
    <div class="spellName col-md-2">
      <div class="spells">
        <h4 class="text-left">Spells</h4>
        <label for="spell_name">Spell Name</label>
        <input name="spell_name" id="spell_name" value=""></input>
      </div>
    </div>
    <div class="spellID col-md-2">
      <label for="spell_id">Spell ID</label>
      <input type="text" id="spell_id" name="spell_id" value="" />
    </div>
    <div class="spellType col-md-2">
      <div class="spell_type">
        <label for="spell_type">Spell Type</label>
        <input name="spell_type" id="spell_type" value=""></input>
      </div>
    </div>
    <div class="spell_level col-md-2">
      <div class="spell_level">
        <label for="spell_level">Spell Level</label>
        <input name="spell_level" id="spell_level" placeholder="+0" value="" />
      </div>
    </div>
    <div class="castingTime col-md-2">
      <div class="casting_time">
        <label for="casting_time">Casting Time</label>
        <input name="casting_time" id="casting_time" placeholder="+0" value="" />
      </div>
    </div>
    <div class="range col-md-2">
      <div class="spell_range">
        <label for="spell_range">Spell Range</label>
        <input name="spell_range" id="spell_range" value=""></input>
      </div>
    </div>
    <div class="components col-md-2">
      <div class="spell_components">
        <label for="spell_components">Spell Components</label>
        <input name="spell_components" id="spell_components" value=""></input>
      </div>
    </div>
    <div class="spDuration col-md-2">
      <div class="spell_duration">
        <label for="spell_duration">Spell Duration</label>
        <input name="spell_duration" id="spell_duration" value=""></input>
      </div>
    </div>
  </div>

</div>

<div class="row submit-row">
  <button type="button" class="btn btn-secondary btn-lg" id="new-character-submit">Create This Character</button>

</div>
</div>